<div id="deneme" class="hero min-h-screen bg-base-200">
  <div class="hero-content flex-col lg:flex-row">
    <img
      src="assets/photos/Atahan.png"
      class="max-w-sm rounded-xl shadow-2xl max-lg:w-48 max-lg:h-64 opacity-50"
    />
    <div>
      <h1 class="text-5xl font-bold">Aranan Kan Bulundu!</h1>
      <p class="py-6">
        Hello! I'm Atahan,<br />
        a calm, team-oriented, and enthusiastic developer. While I'm recognized
        for my skills and interest in the frontend, I also aspire to become a
        full-stack developer. I am proficient in using languages and frameworks
        like JavaScript, Angular, and Next.js. For mobile development, I prefer
        Dart-based Flutter. My diverse language skills enhance my ability to
        contribute to various projects. I am an easygoing and enthusiastic team
        player. "Being in the right place with the right people, working
        together, and adding value to each other" is my life principle.
      </p>
      <button class="btn btn-primary">recruitment</button>
    </div>
  </div>
</div>
