<ul class="menu bg-base-200 rounded-box">
  <div><p class="flex justify-center text-4xl p-18">Contact</p></div>
  <li>
    <a (click)="github()">
      <img src="/assets/Images/github.png" alt="" />Github
    </a>
  </li>
  <li>
    <a (click)="linkedin()">
      <img src="/assets/Images/LinkedIn.png" alt="" />LinkedIn
    </a>
  </li>
  <li>
    <a (click)="linkedin()">
      <img src="/assets/Images/instagram.png" alt="" />Instagram
    </a>
  </li>
  <li>
    <a> <img src="/assets/Images/basket.png" alt="" />U519AJ789 </a>
  </li>
</ul>
