<div class="grid grid-cols-2 grid-rows-1 gap-5 max-md:grid-cols-1">
  <div class="grid grid-cols-2 grid-rows-1 gap-5">
    <div>
      <div class="p-4">
        <label class="flex justify-end max-sm:justify-center" for=""
          >İşbirliği ve Takım Çalışması:
        </label>
      </div>
      <div class="p-4">
        <label class="flex justify-end max-sm:justify-center" for=""
          >Motivasyon ve İş Tutkusu:
        </label>
      </div>
      <div class="p-4">
        <label class="flex justify-end max-sm:justify-center" for=""
          >Hızlı Öğrenme ve Gelişim:
        </label>
      </div>
      <div class="p-4">
        <label class="flex justify-end max-sm:justify-center" for=""
          >Stres Yönetimi:
        </label>
      </div>
    </div>
    <div>
      <div class="p-4">
        <progress
          class="progress progress-info w-56 max-sm:w-36"
          value="90"
          max="100"
        ></progress>
      </div>
      <div class="p-4">
        <progress
          class="progress progress-info w-56 max-sm:w-36"
          value="90"
          max="100"
        ></progress>
      </div>
      <div class="p-4">
        <progress
          class="progress progress-info w-56 max-sm:w-36"
          value="80"
          max="100"
        ></progress>
      </div>
      <div class="p-4">
        <progress
          class="progress progress-info w-56 max-sm:w-36"
          value="70"
          max="100"
        ></progress>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-2 grid-rows-1 gap-5">
    <div>
      <div class="p-4">
        <label class="flex justify-end max-sm:justify-center" for=""
          >JavaScript:
        </label>
      </div>
      <div class="p-4">
        <label class="flex justify-end max-sm:justify-center" for=""
          >Python:
        </label>
      </div>
      <div class="p-4">
        <label class="flex justify-end max-sm:justify-center" for="">C: </label>
      </div>
      <div class="p-4">
        <label class="flex justify-end max-sm:justify-center" for=""
          >Angular:
        </label>
      </div>
    </div>
    <div>
      <div class="p-4">
        <progress
          class="progress progress-info w-56 max-sm:w-36"
          value="80"
          max="100"
        ></progress>
      </div>
      <div class="p-4">
        <progress
          class="progress progress-info w-56 max-sm:w-36"
          value="65"
          max="100"
        ></progress>
      </div>
      <div class="p-4">
        <progress
          class="progress progress-info w-56 max-sm:w-36"
          value="50"
          max="100"
        ></progress>
      </div>
      <div class="p-4">
        <progress
          class="progress progress-info w-56 max-sm:w-36"
          value="80"
          max="100"
        ></progress>
      </div>
    </div>
  </div>
</div>
