<div>
  <div class="flex items-center justify-center my-3 pt-36">
    <p class="text-3xl">Hello! I'm Atahan</p>
  </div>
  <div class="flex items-center justify-center">
    <p class="indent-20">
      I like to craft solid and scalable frontend products with great user
      experiences.
    </p>
  </div>
  <div class="flex items-center justify-center">
    <img
      class="h-64 w-64 rounded-full opacity-80 drop-shadow-md grayscale my-20"
      src="\assets\photos\Atahan.png"
      alt=""
    />
  </div>
</div>
